@font-face {
    font-family: "Noto Sans SC";
    src: url("../../assets/font/NotoSansSC-Regular.otf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans SC";
    box-sizing: border-box;
}

p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:root {
    --el-menu-active-color: #00a0e9;
    --el-color-primary: #00a0e9;
    --el-text-color-primary: #2a2a2a;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    transition: color 0.2s ease;
}

.v-md-editor__toolbar-item,
[class*=v-md-icon-] {
    font-size: 1.2rem !important;
}

.hide-upload-btn .el-upload-list .el-upload--picture-card {
    display: none;
}

.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.confirmBtn {
    padding: 3px 20px !important;
    background: #00A0E9 !important;
    border-radius: 8px !important;
    font-size: 17px !important;
    color: #ffffff !important;
    box-sizing: content-box !important;
}

.cancelBtn {
    padding: 3px 20px !important;
    background: #fafafa !important;
    border-radius: 8px !important;
    font-size: 17px !important;
    color: #00A0E9 !important;
    border: 1px solid #f0f0f0 !important;
    box-sizing: content-box !important;
}

.dialogBtn {
    padding: 6px 30px !important;
    font-size: 20px !important;
    border-radius: 16px !important;
}

.dialog-content {
    text-align: center;
    font-size: 24px;
    color: #505050;
}

.dialog-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.el-carousel__container {
    height: 100% !important;
}

.el-carousel--horizontal {
    overflow: hidden !important;
}

.el-carousel__indicators--horizontal {
    bottom: -8px !important;
}

.el-carousel__indicator--horizontal {
    margin: 0 4px !important;
}

.el-carousel__button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 4px;
    background: #E6E6E6 !important;
    opacity: 1 !important;
}

.el-carousel__indicators--horizontal>.is-active button {
    background: #C7242F !important;
    opacity: 0.6 !important;
}

.el-tabs__nav-wrap::after {
    background: none !important;
}

.el-tabs__content {
    overflow: visible !important;
}

.el-tabs__item {
    font-size: 24px !important;
    color: #2F2F2F !important;
    margin-bottom: 5px !important;
}

.el-tabs__nav>.is-active {
    color: #C7242F !important;
}

.el-tabs__active-bar {
    height: 3px !important;
    background-color: #C7242F !important;
}

.el-textarea__inner,
.el-input__wrapper {
    border-radius: 4px !important;
    box-shadow: 0 0 0 2px #F4F3F3 !important;
    background-color: #f8f8f8 !important;
}

.el-input__count-inner {
    background-color: #f8f8f8 !important;
    color: #767676 !important;
}

.el-textarea__inner:hover,
.el-input__wrapper:hover {
    box-shadow: 0 0 0 2px rgba(0, 160, 233, 0.5) inset !important;
}

.el-textarea__inner:focus,
.el-input__wrapper:focus-within {
    box-shadow: 0 0 0 2px rgba(0, 160, 233, 1) inset !important;
}

.el-overlay {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.el-dialog {
    --el-dialog-title-font-size: 36px !important;
    --el-dialog-font-line-height: unset !important;
    display: flex;
    display: -ms-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
    width: max-content !important;
    border-radius: 8px !important;
}

.el-dialog .el-dialog__body {
    max-height: 100%;
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.el-sub-menu__icon-arrow {
    font-size: 17px !important;
}

.el-menu {
    border: none;
}

.is-checked .el-radio__label {
    color: #00a0e9 !important;
}

.el-radio__label {
    color: #767676 !important;
}

.el-upload--picture-card {
    --el-upload-picture-card-size: 75px !important;
}

.el-upload-list--picture-card {
    --el-upload-list-picture-card-size: 75px !important;
}

.el-pagination {
    justify-content: center;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    border-radius: 50% !important;
    background-color: transparent !important;
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
    background-color: var(--el-color-primary) !important;
}